<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Game Review</title>
</head>

<body>
	<h1>Welcome to the ONLY Good Site for Reviewing Video Games!</h1>

	<h2>My Account</h2>

	<ul>
		<li>To review a video game <a href="/review">Write Review</a></li>
		<li>To list all reviews you've made <a href="/listOfReviews">My Reviews</a></li>
        <li>To search for a game to write a review about <a href="/searchGame">Search List</a></li>
		<li>To delete all reviews <a href="/removeReviews">Remove All Reviews</a></li>
	</ul>

	<hr>
</body>

</html>
