<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Reviews by Rating</title>
</head>

<body>
	<h1>Display Reviews by a Specified Rating and Above</h1>
	
	<form action="/processList" method="post">
			<label><strong>Rating: </strong><input type="text" name="RATINGgeq" required/></label>
		<br>
		<input type="submit" value="Submit Request"/>
	</form>
	<hr>
	<a href="/">HOME</a>
</body>

</html>
