<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Removal of All Reviews Confirmation</title>
</head>
<body>
    <h1>Removal of All Reviews</h1>
    <p>All reviews have been removed from the database. Number of reviews removed: <%= count %></p>
    <hr>
    <a href="/">Home</a>
</body>
</html>