<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Game Review</title>
	<link rel="stylesheet" href="/indexStyle.css">

	<!-- The Google Font for the titles! -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap"
      rel="stylesheet"
    >
</head>

<body>
	<div id="mainContainer">
		<h1 id="pageTitle">Welcome to the ONLY Good Site for Reviewing Video Games!</h1>

		<hr>

		<h2 id="userAccount">My Account</h2>

		<ul id="options">
			<li>To review a video game <a href="/review">Write Review</a></li>
			<li>To list all reviews you've made <a href="/listOfReviews">My Reviews</a></li>
			<li>To search for a game to write a review about <a href="/searchGame">Search List</a></li>
			<li>To delete all reviews <a href="/removeReviews">Remove All Reviews</a></li>
		</ul>

		<hr>

		<img id="mainImage" height="250px" width="400px" src="/controller.jpg" alt="White controller on table">
	</div>
</body>

</html>
