<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Reviews by Rating</title>
</head>

<body>
	<h1>Display Reviews by a Specified Rating and Above</h1>
	<div>
		<%- ratingTable %>
	</div>
	<a href="/">HOME</a>
</body>

</html>
