<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Reviews by Rating</title>
	<link rel="stylesheet" href="/removeReviewStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap"
      rel="stylesheet">
</head>

<body>
	<h1>Display Reviews by a Specified Rating and Above</h1>
	<h3><strong>Reviews for: </strong><%- email %></h3>
	<div>
		<%- ratingTable %>
	</div>
	<a href="/">HOME</a>
</body>

</html>

