<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Removal of All Reviews Confirmation</title>
    <link rel="stylesheet" href="/removeReviewStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap"
      rel="stylesheet">
</head>
<body>
    <h1>Removal of All Reviews</h1>
    <p>All reviews have been removed from the database. Number of reviews removed: <%= count %></p>
    <hr>
    <a href="/">Home</a>
</body>

</html>
