<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove All Reviews</title>
    <link rel="stylesheet" href="/removeReviewStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap"
      rel="stylesheet">
    <script>
        function confirmRemoval() {
            return confirm("Are you sure you want to remove all reviews?");
        }
    </script>
</head>
<body>
    <div id="mainContainer">
        <h1 id="h1">Remove All Reviews</h1>
        <form action="/processRemoval" method="post" onsubmit="return confirmRemoval();">
            <input type="submit" value="Remove all reviews"/>
        </form>
        <hr>
        <br>
    <div id="emojiIcon">🗑️</div>
    <a href="/">Back to Home</a>
    </div>
</body>
</html>
