<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove All Reviews</title>
    <script>
        function confirmRemoval() {
            return confirm("Are you sure you want to remove all reviews?");
        }
    </script>
</head>
<body>
    <h1>Remove All Reviews</h1>
    <form action="/processRemoval" method="post" onsubmit="return confirmRemoval();">
        <input type="submit" value="Remove all reviews"/>
    </form>
    <hr>
    <a href="/">Back to Home</a>
</body>
</html>