<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Game</title>
    <script defer>
		function confirmSubmission() {
			return confirm("Are you sure you want to submit your game review?\n You will not be able to change it once submitted.");
		}
	</script>
</head>
<body>
    <h1>Review a Video Game</h1>
    <form action=<%- destination %> method="post">
        <strong>Email: </strong><input type="email" name="email" required><br>
        <strong>Game Name: </strong><input type="text" name="name" required><br>
        <label><strong>Rating 0-10: </strong><input type="number" name="rating" max=10 min=0 required/></label><br>
        <strong>Write Your Review:</strong><br>
        <textarea name="review" rows="5" cols="40"></textarea><br>
        <input type="submit" value="Submit Review"> <input type="reset">
    </form>
</body>
</html>