<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Search Game</title>
    <link rel="stylesheet" href="/removeReviewStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap"
      rel="stylesheet">
  </head>

  <body>
    <h1>Find a Game</h1>

    <p>
      Do you know what game to review? If not, you can search for games and
      platforms you're interested in to learn more!
    </p>

    <form action="/processSearch" method="post">
      <fieldset>
        <legend>Game Name</legend>
        <input type="text" name="search" />
      </fieldset>

      <br />

      <fieldset>
        <legend>Platforms</legend>

        <select name="parentPlatform">
          <option value="">Any</option>
          <option value="1">PC</option>
          <option value="2">PlayStation</option>
          <option value="3">Xbox</option>
          <option value="7">Nintendo</option>
        </select>
      </fieldset>

      <br />

      <button type="submit">Search</button>
    </form>

    <hr />
    <a href="/">HOME</a>
  </body>
</html>

