body {
    background-color: #050816;
    color: white;
}

#mainContainer {
    border: 0.4rem solid #38bdf8;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #020617;
}

#pageTitle, #userAccount {
    color: yellow;
    font-family: "Bitcount Prop Single", system-ui;
}

#userAccount {
    font-size: 1.5rem;
    text-align: center;
}

#options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#options li {
    margin-bottom: 1rem;

}

#mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 50%;
}

#pageTitle {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 2rem;
}

#userAccount {
    text-decoration: underline;
}

a:link {
    color: red;
}

a:visited {
    color: purple;
}

