body
{
    background-color: #050816;
    color: white;
}
#mainContainer
{
    border: 0.4rem solid #38bdf8;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #020617;
}
h1{
    color: yellow;
    font-family: "Bitcount Prop Single", system-ui;
    letter-spacing: .25rem;
}
a:link{
    color: red;
}
a:visited{
    color: purple;
}
#emojiIcon {
    text-align: center;
    font-size: 3rem;
    animation: bounce 1.2s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}